<%= render "shared/header" %>

<div class="new-list">
    <h3 class="new-list-top">リスト編集
      <input type="submit" value="リストを共有する" class="ok-buttan">
    </h3>

    <%= form_with(model: @item, local: true) do |form| %>
<%# <%= form.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %> 

    <form action="#" method="post" name="title-form" class="new-title">
      タイトル：<input type="text" placeholder="既に記入しているものをだす">
    </form>
    <!-- 共有するメンバーを追加する -->
    <div class="new-member">
      誰と共有する？
    </div>
    <!-- //共有するメンバーを追加する -->
    <form action="#" method="post" name="item-form" class="new-item">
      項目：<input type="text" >
    </form>
    <!-- 追加した項目を一覧にする -->
    <div class="item-lineup">
      <!-- < @items.each do |item| >
        < task.item %>
      <% end %> -->
      アイテム①
    </div>  
    <!-- 追加した項目を一覧にする -->

</div>

<%= render "shared/footer" %>