<%# アプリのヘッダー部分 %>
<%= render "shared/header" %>
<%# //アプリのヘッダー部分// %>

<%# topページのbody部分 %>
<div class='index-background'>
  <div class='list-index'>
    <%# 編集権限のあるto doリストのタイトルを一覧にする %>
    <div class='list-title'>
    タイトル①
    </div>
    <%# //編集権限のあるto doリストのタイトルを一覧にする// %>

    <%# 共有しているメンバーを表示する %>
    <%# <ul class='list-member'>
      <li>メンバー①</li>
      <li>メンバー②</li>
    </ul> %>
  </div>
</div>

<%# //topページのbody部分// %>

<%# アプリのフッター部分 %>
<%= render "shared/footer" %>
<%# //アプリのフッター部分// %>
