.top-page-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.app-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.app-title {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-left: 3vw;
}

.top-right {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 2vw;
  color: #333333;
}

.create-list {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}

.signup {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}