.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.app-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.app-title {
  font-size: 20px;
  color: white;
  margin-left: 3vw;
}

.top-right {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  margin-right: 2vw;
  color: #333333;
  background-color: gray;
  padding: 5px;
}