<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='app-top'>
    <h2 class='app-title'>
      とにかくホメてくれるto Doリスト
    </h2>
    <ul class='top-right'>
    <%# ユーザーのログイン状態によって表示を変更する %>
      <li><%= link_to 'リスト作成', new_list_path, class: "create-list" %></li>
      <li><%= link_to 'ニックネーム', "#", class: "user-nickname" %></li>
    </ul>
  </div>
</header>