<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='app-top'>
    <h2 class='app-title'>
      とにかくホメてくれるto Doリスト
    </h2>
    <ul class='top-right'>
    <%# ユーザーのログイン状態によって表示を変更する %>
      <li>ログイン</li>
      <li>新規登録</li>
    </ul>
  </div>
</header>